.form-control { max-width : 300px; }
.form-textarea-label {margin: 25px 0px 10px 0px; max-width: 600px}
.form-group-other {padding-left: 15px;}
#team_info {max-width:600px;}
#additional_info {max-width:600px; height: 150px;}